.App {
  margin: auto;
  max-width: 1140px;
  padding: 5px;
}

.App__playingField {
  display: flex;
  justify-content: space-between;
}

.button__nextLevel {
    width: 100%;
    background: #303030;
    border: 1px solid #5a5858;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    color: #E4E4E4;
    font-size: 16px;
}

@media (max-width: 700px) {
  .App__playingField {
    display: block;
    width: 100%;
  }
}